@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "common";
@import "ephiny";
@import "settings";
@import "ember-power-select";
@import 'appstore';
@import 'files';
@import "ember-power-calendar";
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
  overflow: hidden;
}

.wh18 {
  width: 18px;
  height: 18px;
}

.desktop-container {
  height: 100vh;
  width: 100vw;
  position: relative;

  .wallpaper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    z-index: -2;
  }

  .taksbar {
    height: 100%;
    width: 60px;
    background: rgb(20 16 18);
    padding-top: 25px;
    position: absolute;
    left: 0;

    >div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
    }

    .taskbaricon {
      margin-bottom: 15px;
      padding: 7px 8px;
      border-radius: 12px;
      position: relative;

      &.current-opened-app {
        background: rgb(191 191 191 / 27%);
      }

      &.opened-app::after {
        position: absolute;
        left: 2px;
        top: 50%;
        content: "";
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        background: #e95420;
        border-radius: 5px;
      }
    }

    .startbtn {
      width: 87%;
     
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      border-radius: 10px;
      &.start-opened{
        background: #363636;
      }
    }

    .taskbaricon,
    .startbtn {
      i{
        font-size: 30px;
      }
    }
  }

  .topbar {
    position: absolute;
    z-index: 1;
    top: 0;
    height: 32px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;

    .displaytime {
      font-size: 12px;
      color: white;
      cursor: default;
    }

    .shortcut {
      margin-right: 4px;
      padding: 3px 8px;
      border-radius: 12px;
      &.shortcut-opened,&:hover{
        background: #454545;
      }
      // img {
      //   margin-right: 6px;
      //   width: 12px;
      //   height: 12px;
      // }

      .top-line-icon{
        width: 18px;
        height: 18px;
        margin: 0;
      }


    }
  }

  .desktop-workspace {
    height: calc(100% - 20px);
    width: calc(100% - 60px);
    top: 30px;
    transform: scale(1, 1);
    transition: transform ease 0.25s;
    position: absolute;
    left: 60px;

    &.scale-workspace {
      transform: scale(0.1979, 0.1856);
      // position: fixed;
      top: -250px;
      left: -162px;
    }
  }
}


.app-drawer {
  height: calc(100% - 20px);
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.91);
  margin-top: 20px;

  .searchbox {
    margin-top: 46px;
    width: 390px;
    height: 40px;
    border-radius: 30px;
    background: #5f5f5f69;
    color: #2f2f2f;
    font-weight: 500;
    color: #a6a6a6;
    backdrop-filter: blur(80px);
  }

  .all-app-list {
    margin: 0 auto;
    margin-top: 750px;
    // grid-row-gap: 35px;
    width: 62%;
    height: 565px;
    transition: margin-top 0.25s ease;

    &.open-app-list {
      margin-top: 46px;
    }


  }

  .app-container {
    color: #dfdfdf;
    // width: 160px;
    height: 165px;
    &:hover{
      .app-name{
         text-wrap: wrap;
      }
    }

    .app-icon {
      width: 90px;
      height: 90px;
    }

    .app-name {
      margin-top: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      width: 125px;
      max-height: 45px;
      transition: height 0.15s ease;

    }

    .app-icon-wrap{
      padding: 16px 5px;
      width: 152px;
      &:hover {
      background: rgb(112 112 112 / 23%);
      backdrop-filter: blur(50px);
      border-radius: 8px;
    }
   }
  }

}

.desktop-pane {
  height: 180px;
  width: 370px;
  margin: 10px;
  margin-top: 27px;
  position: relative;
}

.ethernet-menu {
  .top-setting-container {
    width: 395px;
    bottom: -365px;
    min-height: 270px;
    left: -360px;
    z-index: 1;
    background: #ffffff;
    border-radius: 14px;
    padding: 18px;
  }
}



// top-setting-container -start 
.top-settings-icon{
  width: 14px;
  height: 14px;
}
.top-setting-container {
  color: #232323;

  .range-slider {
    width: 322px;
    margin: auto;
    height: 3px;
  }
  .range-slider {
    .range-slider__range {
      background:#e95420; ;
    }
    .range-slider__thumb {
      &[data-upper]{
         width: 18px;
         height: 18px;
         background: #ffffff;
         border: 1px solid #929292;
      }
  
     &[data-lower] {
      width: 0;
     }

    }  
  } 
  .range-slider .range-slider__range {
      border-radius: 6px;
  }
  .rounded-tiles{
    .rounded-tile{
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: #e4e4e4;
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:first-child){
        margin-left: 12px;
      }
      &.battery{
        width: 70px ;
        font-size: 13px;
        font-weight: lighter;
        justify-content: space-between;
        padding: 0 10px;
      }
    }
  }

  .top-settingoption {
    // width: 100%;
    height: 40px;
    // border-bottom: 1px solid #92908f9a;


  }

  .settingoption {
    font-size: 12px;
    width: 48%;
    min-height: 50px;
    border-radius: 30px;
    margin: 7px 0;
    color: rgb(77, 77, 77);
    background: #e4e4e4;
    &.turn-on-option{
      background : #e95420;
      color: white;
    }
    &:nth-child(odd){
      margin-right: 12px;
    }
    &:hover:not(.turn-on-option) {
      background: #92908f4b;
    }
    .settingoption-name {
      font-size: 15px;
      cursor: default;
    }
    .setting-opt-name,
    .subcatItem {
      width: 95%;
      height: 100%;
      border-radius: 5px;
      padding-left: 10px;

    }

  }
}



///settings-container-----
/// 
.lhs-section-bg {
  background: #f2f2f2;
  border-right: 1px solid #ababab95;
}

.settings-container {
  font-weight: 600;
  height: calc(100vh - 25px);
  .settings-section {
    min-width: 980px;
    font-size: 12px;
    // background: #960f0f;
    border: 1px solid #ababab95;

    .lhs-section {
      width: 234px;

      padding: 7px;

      .settings-lhs-options {
        padding-top: 10px;
      }

      .setting-option-icon {
        width: 18px;
        height: 18px;
        margin-right: 12px;
      }

      .setting-option {
        font-weight: lighter;
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
        padding: 5px 2px;
        height: 37px;
        padding: 14px;
        cursor: default;

        &:hover,
        &.selected-setting {
          background: rgb(19 19 19 / 10%);
        }
      }

      .setting-option-divider {
        width: 99%;
        height: 1px;
        background: #4d4c4c3d;
        position: absolute;
        bottom: -3px;
        left: -1%;
      }


    }

    .app-center-lhs {
      width: 206px;
      min-width: 206px;
    }

    .rhs-section {
      background: #fafafa;
    }

    .setting-header-icon {
      // background: #f8f8f8;
      // border: 1px solid #ababab95;

      padding: 6.5px;

      &:hover {
        background: #ABABAB;
      }
    }
  }
}

.ubuntu-power-trigger {
  border: none !important;

  .tick-image {
    display: none !important;
  }
}

.ubuntu-power-down {
  margin-top: 10px;
  min-width: 120px;
  border: none;
  overflow: visible;
  box-shadow: 0px 0px 12px 1px rgb(24 24 24 / 20%);
  padding: 7px;
  border-radius: 8px !important;

  &::after {
    position: absolute;
    content: "";
    /* width: 14px; */
    /* height: 14px; */
    /* background: red; */
    top: -10px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    /* border: none; */
    border-bottom: 10px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  .ember-power-select-option {
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 5px;
    font-weight: lighter;
    font-size: 14px;
  }

  .ember-power-select-option[aria-current=true],
  .ember-power-select-option[aria-selected=true]:hover {
    background: #72747724;
    color: inherit;
  }

  .ember-power-select-option[aria-selected=true] {
    background-color: transparent;
    display: flex;
    align-items: center;

    img {
      width: 14px;
      height: 14px;
    }
  }

  .ember-power-select-trigger:focus {
    border: none !important;
  }
}

//power calendar
#calendar-container{
  width: 254px;
  min-height: 300px;
 
  button.ember-power-calendar-day{
    background: transparent;
    height: 35px;
    width: 35px;
    max-width: 35px;
    font-weight: lighter;
    font-size: 13px;
  }
  .ember-power-calendar-day--selected{
    background: #e95420 !important;
    color: white;
    border-radius: 70px;
  }
  .ember-power-calendar-day--focused{
    box-shadow: none;
    border: none;
  }
  .ember-power-calendar-weekday{
    color: #b1b1b2;
    font-weight: lighter;
    font-size: 13px;
  }
  .ember-power-calendar-nav-title,.ember-power-calendar-nav-control{
    color: #6f6f6f;
  }
}

.top-calendar-box{
  width: 730px;
  height: 500px;
  left: 30.5%;
  border-radius: 12px;
  background: #f7f7f7;
  padding: 10px;
  top: 40px;
  .calendar-section{
    border-left: 1px solid #ababab95;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .events-list ,.world-clock{
    font-weight: lighter;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    box-shadow: 0 0 1px 2px #e9e9e9;
    .day{
      opacity: 0.5;
    }
    .event{
      opacity: 0.4;
    }
  }
  .display-selected-container{
    margin-bottom: 12px;
    .selected-day-name{
      font-weight: lighter;
      font-size: 14px;
      opacity: 0.6;
    }
    .selected-date{
      font-size: 20px;
      opacity: 0.4;
    }
  }

  .activities-section{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .dnd{
      font-weight: lighter;
      opacity: 0.7;
      font-size: 14px;
    }
  }
}


//Right Click Menu 
.context-menu{
  position: fixed;
  top: 30px;
  left: 200px;
  min-width: 250px;
  min-height: 150px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0px 0px 7px 0px rgb(49 49 49 / 28%);
  padding: 7px;
  z-index: 100;
  .context-menu-option{
    font-size: 14px;
    height: 35px;
    padding-left: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: 100;
    cursor: default;
    &:hover{
      background-color: rgba(19, 19, 19, 0.1);
    }
  }
  .seperator-line{
    height: 1px;
    width: calc(100% - 7px);
    background-color: rgba(19, 19, 19, 0.1);
    margin: 5px;
  }
}