.browser-top-icons{
    width: 17px;
    margin: 0 12px;
}
.ephiny-window{
    width: 1207px;
    height: 75vh;
    background-color: #fafafa;
    overflow: hidden;
    z-index: 2;
    .ephiny-topbar{
        background: white;
        height: 45px;
        border-bottom: 1px solid #dcdcdc;
    
        // .back-icon img {
        //     height: 17px;
        // }
        .search-bar{
            width: 57%;
            background: #f1f1f1;
            height: 32px;
            border-radius: 5px;
            &:has(input:focus){
                border: 2px solid #e954206b;
            }
            input::placeholder{
              font-size: 15px;
              padding-left: 4px;
              color: #434343cf;
            }
        }
        .icon-in-left{
            margin-right: 54px;
        }
        .icon-in-right{
            margin-left: 61px;
            margin-right: 21px;
        }
    }
    .preview-area{
        // height: ;
    }
    .preview-tabs{
        width: 850px;
        .preview-tab-container{
            width: 249px;
            height: 185px;
            margin: 5px 9px;
            .preview-tab {
              background: #ffffff;
              border: 1px solid #e1e1e1;
              height: 83%;
              border-radius: 12px;
              width: 100%;
            } 
            .preview-tab-name{
                opacity: 0.7;
            }
            &.large-bt{
                margin-bottom: 15px;
            }
            .preview-close-btn{
                background: #cacaca;
                height: 22px;
                width: 22px;
                position: absolute;
                right: 10px;
                top: 10px;
                border-radius: 25px;
                color: #ffffff;
                // font-size: 13.5px;
            }
            .preview-image{
                width: 36%;
            }

            &.firefox{
                width: 100px;
                height: 120px;
                margin: 5px 20px;
                .preview-image{
                    width: 56%;
                }
            }
        }
    }

    &.firefox{
        background: #f9f9fb;
        .ephiny-topbar{
            border-bottom: 1px solid #f0f0f4;
            background: #f9f9fb;
            .search-bar{
                background: #f0f0f4;
            }
        }
          .firefox-tabs{
             display: flex;
             align-items: center;
             padding-left: 50px;
             max-width: 85%;
          }
        .firefox-tab{
            width: 200px;
            height: 36px;
            border-radius: 5px;
            padding: 5px 10px;
            margin-right: 4px;
            &.current-tab{
                background: #ffffff;
                box-shadow: 0 0 5px 1px #c5c5c566;
            }
        }
    }


    .tabs-bar{
        height: 45px;
        background: #ebebef;
        width: 100%;
    }
    .site-search-icon{
        top: 50%;
        transform: translateY(-50%);
    }
    .url-input{
        padding-left: 35px;
    }
}
.tab-icon{
    width: 20px;
    height: 20px;
}
.tab-name{
    font-size: 14px;
    margin-left: 10px;
    height: 18px;
    font-weight: lighter;
    cursor: default;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.add-tab-btn{
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    margin-left: 2px;
    border-radius: 5px;
    min-width: 36px;
    &:hover{
        background: #dcdcdc;
    }
    img{
        height: 20px;
        width: 20px;
    }
}