.settings-tab-page {
    .setting-plus-icon {
        width: 14px;
        height: 14px;
    }

    .settings-info{
        font-weight: lighter;
        margin-bottom: 40px;
        font-size: 15.5px;
        opacity: 0.4;
    }
     
    .settings-strap-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 1px 2px #e9e9e9;
        max-width: 575px;
        width: 100%;
        .settings-strap:not(:last-child){
            border-bottom: 1px solid #e2e2e2;
        }
    }
    .settings-strap {
        height: 52px;
        background: white;
       
      
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 12px;
        padding-right: 20px;
        font-weight: lighter;
        font-size: 14px;
        color: #525252;
        .forward-icon {
            width: 20px;
        }
        .settings-strap-icons-right{
            width: 22px;
        }
        .x-toggle:checked + label > .x-toggle-light.x-toggle-btn{
            background-color: #e95420;
        }
        .x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::after, .x-toggle-component.x-toggle-focused .x-toggle-btn:not(.x-toggle-disabled)::before{
            box-shadow: none;
        }
    }
    .settings-strap,.settings-strap-heading,.settings-info{
        max-width: 575px;
        width: 100%;
    }
    .settings-strap-heading{
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        font-size: 14px;
        font-weight: normal;
        padding-right: 10px;
    }
}