 <div class="top-setting-container absolute">

   <div class="valume-input flex items-center  justify-center">
    <div class="flex settingoption items-center justify-center">
       <img src="/icons/volume.png" alt="">
       <input type="range" name="" id="" {{action this.setVolume}}>
     </div>
   </div>
   <div class="flex settingoption items-center justify-center">
    <div class="flex items-center justify-between">
      <div class="flex items-center ">
         <img src="/icons/ether.png" alt=""/>
         <div class="settingoption-name ">Wired Connection</div>
      </div>
      <img class="accordianicon" src="/icons/iconright.png"/>
    
    </div>
   </div>
   <div class="flex settingoption items-center justify-center">
    <div class="flex items-center justify-between">
      <div class="flex items-center ">
         <img src="/icons/battery.png" alt=""/>
         <div class="settingoption-name ">Remaining(30 %)</div>
      </div>
      <img class="accordianicon" src="/icons/iconright.png"/>
    
    </div>
   </div>
 </div>
{{yield}}