<div class="bluetooth-tab-container settings-tab-page ">
    <div class="bluetooth-settings-list pt-11 flex flex-col items-center">
        <div class="settings-info">
            Visible as "ubuntu-aspire-715" and available for Bluetooth file transfers. <br>
            Transferrd files are placed in <span class="link">Downloads</span> folder
        </div>
        <div class="settings-strap-heading  ">
            <span>Devices</span>
            <img class="settings-page-icon setting-plus-icon"
                src="https://img.icons8.com/material-two-tone/48/plus-math--v1.png" alt="plus-math--v1" />
        </div>
        <div class="settings-strap-container w-full ">
        <div class="settings-strap">
            <div class="strap-name">Rockerz 110</div>
            <div class="opacity-50">Connected</div>
        </div>
        <div class="settings-strap ">
            <div class="strap-name">Tead One</div>
            <div class="opacity-50">Connected</div>
        </div>
        </div>

</div>
</div>
{{yield}}