<div class="network-tab-container settings-tab-page ">
    <div class="network-settings-list pt-11 flex flex-col items-center">
        <div class="settings-strap-heading  ">
            <span>Wired</span>
            <img class="settings-page-icon setting-plus-icon"
                src="https://img.icons8.com/material-two-tone/48/plus-math--v1.png" alt="plus-math--v1" />
        </div>
        <div class="settings-strap-container">
            <div class="settings-strap  ">
                <div class="strap-name">Cable unplugged</div>
                <div>
                    {{!-- //switch --}}
                    <img class="settings-page-icon setting-plus-icon"
                        src="https://img.icons8.com/ios-glyphs/60/settings--v1.png" alt="settings--v1" />
                </div>
            </div>
        </div>

        <div class=" settings-strap-heading mt-8">
            <span>VPN</span>
            <img class="settings-page-icon setting-plus-icon"
                src="https://img.icons8.com/material-two-tone/48/plus-math--v1.png" alt="plus-math--v1" />
        </div>
        <div class="settings-strap-container">
            <div class="settings-strap ">
                <div class="strap-name">Not set up</div>
            </div>
        </div>

        <div class=" settings-strap-heading mt-8">
            <span>Proxy</span>
        </div>
        <div class="settings-strap-container">
            <div class="settings-strap ">
                <div class="strap-name">Proxy</div>
                <div class="flex">
                    <span class="switch-status mr-2">off</span>
                    <img class="forward-icon" src="https://img.icons8.com/ios/100/forward--v1.png" alt="forward--v1" />
                </div>
            </div>
        </div>
    </div>
</div>
{{yield}}